<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072505666168-ppb6p4qbknbc3n6cbdebogqjm4lt0a45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072505666168-ppb6p4qbknbc3n6cbdebogqjm4lt0a45</string>
	<key>API_KEY</key>
	<string>AIzaSyDzQYRyANDXrgawoJ6CFhGs4ebXu-goaDo</string>
	<key>GCM_SENDER_ID</key>
	<string>1072505666168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pankajkcodes.equitysoftTest</string>
	<key>PROJECT_ID</key>
	<string>equitysoft-test-1</string>
	<key>STORAGE_BUCKET</key>
	<string>equitysoft-test-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072505666168:ios:72dfe3cded20780c064b8d</string>
</dict>
</plist>